################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mars_Rover_Part1_HB/bin/Debug
